

<div class="drug_card column">
  <%- @color = drug.categories.first.present? ? suppress(Exception) { drug.categories.first.cat_color } : 'green' %>
  <div class="ui <%= @color %> raised huge card" data-anijs="if: scroll, on: window, do: swing animated, before: scrollReveal">
    <div class="content">
      <%= link_to drug_path(drug), class: "ui #{@color} ribbon label"  do %>
        <i class="registered icon"></i><%= truncate(drug.name.upcase, length: 33) %>
      <% end %>
      <br /><br />
      <br>
      <div class="image content">
        <div class="centered image">
          <%= render 'drugs/drug_image', drug: drug, size: 120 %>
        </div>
      </div>
      <br />
      <a href="<%= country_path(drug.country.present? ? drug.country.id : 70) %>" class="ui right floated label" data-remote='true'>
        <i class="<%= drug.country.present? ? drug.country.code.downcase.to_sym : 'eg' %> flag" ></i>
      </a>
      <div class="ui attached segment">
        <%- if drug.company %>
            <%= link_to truncate(drug.company.name.upcase, length: 21), company_path(drug.company), class: "ui #{@color} top attached label" %>
            <br>
        <%- else %>
            UNKNOWN COMPANY
        <% end %>
        <br>
        There are
        <%= suppress(Exception) { number_to_human(drug.identical_drugs.count) } %> identical drugs <br />
        <%= suppress(Exception) { link_to 'Show them?', identical_drugs_path(drug), remote: true } %>

      </div>
      <br>
      <div class="meta">Created <%= time_ago_in_words(drug.created_at) %> ago</div>
      <div class="description">
        <%= render 'drugs/generics_listing', drug: drug %>
      </div>
    </div>
    
    <%= render 'drugs/categories_listing', drug: drug %>
    <div class="ui massive heart rating" id="rating" data-rating="3" data-max-rating="5"></div>
    <!--Comment on a drug? -->
    <div class="ui horizontal divider">
      <%= drug.price %> EGP
    </div>
    <div class="extra content">
        <%= link_to home_path do %>
            <%= semantic_icon(:like) %>
            Like
        <% end %>  |
        <%= link_to home_path do %>
            <%= semantic_icon(:share) %>
            Share
        <% end %>  |
        <%= link_to 'Edit', edit_drug_path(drug) %>
    </div>
  </div>
</div>