<%= semantic_will_paginate @drugs %>
<div class="ui four column grid <%= controller_name %> <%= action_name %>">
    <%= render 'drugs/listing', obj: @drugs %>
  </div>
<%= semantic_will_paginate @drugs %>
<div id="modal"></div>