<%- if drug.generics and drug.generics.count > 0 %>
    <div class="ui ribbon <%= @color %> label">
      <i class="tasks icon"></i>Contains
    </div>
    <br /> <br />
    <div class="ui <%= drug.categories.first.cat_color %> segment">
      <% drug.generics.each_with_index do |generic, i| %>
          <p>
            <span class="ui <%= drug.categories.first.cat_color %> round label"><%= i + 1 %></span>
            <strong><%= link_to generic.to_s(drug.id), generic_path(generic) %></strong>
          </p>
          <br>
       <% end %>
    </div>

<% else %>
    <div class="ui ribbon red label">No ingredients listed</div>
    <br /> <br />
    <div class="ui <%= drug.categories.take.cat_color %> segment">
      There seems to be no listed active ingredients for the current shown drug
      <%= link_to 'Want to add them?', new_generic_path %>
    </div>
<% end %>
