<%= semantic_will_paginate @drugs %>
<div class="ui four column grid <%= controller_name %> <%= action_name %>">
    <% @drugs.each do |drug| %>
      <div class="column">
        <div class="ui <%= drug.categories.first.present? ? drug.categories.first.color : 'green' %> raised huge card">
          <div class="content">
            <div class="ui orange left floated ribbon label"><%= drug.price %> EGP</div>
            <div class="header"><%= drug.name.capitalize %></div>
            <div class="meta">Created <%= time_ago_in_words(drug.created_at) %> ago</div>
            <div class="description">
              <p><%= drug.contents %></p>
              <p>
                <% drug.generics.each do |generic| %>
                    <p><%= generic.name %></p>
                <% end %>
              </p>
              <p><%= drug.country %></p>
            </div>
          </div>
          <%- if drug.categories.count > 0 %>
              <div class="extra content">
                <i class="tags icon"></i>
                <% drug.categories.each do |cat| %>
                   <p> <%= cat.name %></p>
                <% end %>
              </div>
          <% end %>
          <div class="extra content">
            <%= link_to 'Edit', edit_drug_path(drug) %> |
            <%= link_to 'Back', drugs_path %>
          </div>
        </div>
      </div>
<% end %>
  </div>
<%= semantic_will_paginate @drugs %>

<%= link_to 'New Drug', new_drug_path %>
