<div class="ui raised piled segments">
  <%- color = cycle(%w{orange green teal red blue purple}) %>
  <div class="ui <%= color %> segment">
    <%= link_to drug.name.upcase, drug_path(drug), class: "ui huge #{color} ribbon label" %>
    <span><%= drug.country %></span>
    <div class="ui horizontal divider"><%= drug.price %> EGP</div>
    <p>
      <%= drug.concentration %>
      <%= drug.unit %>
    </p>
    <div class="ui <%= color %> ribbon label"> <%= pluralize(drug.generics.count, 'Active Ingredient') %></div>
    <p>
      <%- drug.categories.each do |category| %>
        <div class="ui tag label">
          <%= category.name %>
          <%= semantic_icon(:delete) %>
        </div>
    <% end %>
    </p>
  </div>
  <div class="ui segment">
    <table class="ui sortable celled table">
      <thead>
      <tr>
        <th class="sorted ascending">Name</th>
        <th class="">Invented at</th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody>
      <%= render 'generics/generic', obj: drug %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <div class="ui segment">
    <%= link_to 'Show', drug %>
    <%= link_to 'Edit', edit_drug_path(drug) %>
    <%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>



