<div class="ui raised piled segments" id="drug_show_card">
  <div class="ui <%= @color %> segment">
    <%= link_to drug_path(@drug), class: "ui huge #{@color} ribbon label"  do %>
        <%= @drug.name.upcase %>
    <% end %>
    <div class="ui horizontal divider">
      <%= @drug.price %> EGP
      <i class="<%= @drug.country.code.downcase %> flag"></i>
    </div>
    <div class="ui <%= @color %> ribbon label"> <%= pluralize(@drug.generics.count, 'Active Ingredient') %></div>
    <%= render 'drugs/categories_listing', drug: @drug %></div>
  <div class="ui segment">
    <table class="ui sortable celled table">
      <thead>
      <tr>
        <th class="sorted ascending">Name</th>
        <th class="">External Links</th>
        <th>Concentration</th>
        <th>Summary</th>
        <th>Photo</th>
      </tr>
      </thead>
      <tbody>
      <%= render 'generics/drug_generics_listing', obj: @drug %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <div class="ui centered segment">
   <div class="ui buttons">
     <%= link_to 'Edit', edit_drug_path(@drug), class: 'ui positive button' %>
     <div class="or"></div>
     <%= link_to 'Destroy', @drug, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'ui negative button' %>
   </div>
  </div>
</div>



