<p id="notice"><%= notice %></p>

<h1>Rxes</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rxes.each do |rx| %>
      <tr>
        <td><%= rx.patient %></td>
        <td><%= link_to 'Show', rx %></td>
        <td><%= link_to 'Edit', edit_rx_path(rx) %></td>
        <td><%= link_to 'Destroy', rx, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rx', new_rx_path %>
