<%- obj.generics.each do |generic| %>
    <tr>
      <td> <%= generic.name.upcase %></td>
      <td class="positive">
        <%- if generic.extlinks %>
            <% generic.extlinks.each do |extlink| %>
                <%= link_to truncate(extlink.gsub('//', ''), length: 30), extlink, class: 'ui brown link' %>
             <% end %>
        <% end %>
      </td>
      <td class=""><%= generic.associated_drug_generic(obj.id).concentration.present? ? generic.associated_drug_generic(obj.id).concentration.upcase : 'NOT MENTIONED'%></td>
      <td class="positive"><p><%= h generic.summary %></p></td>
      <td class="positive"><image class="ui small image" src="<%= generic.image %>"></image></td>
<% end %>