<%= form_for(offer, html: { class: 'ui blue stacked fluid form segment'} ) do |f| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="two fields">
    <div class="field">
      <%= f.label :drug_id, class: 'ui right pointing label' %>
      <%= f.number_field :drug_id %>
    </div>

    <div class="field">
      <%= f.label :user_id %>
      <%= f.number_field :user_id %>
    </div>
  </div>

  <div class="ui two fields">
    <div class="field">
      <%= f.label :discount, class: 'ui right pointing label' %>
      <div class="ui left icon input">
        <%= f.number_field :discount, placeholder: "Place the discount you're offering in terms on percentage (%)" %>
        <i class="percent icon"></i>
      </div>
    </div>

    <div class="field">
      <%= f.label :amount, class: 'ui right pointing label' %>
      <%= f.number_field :amount, placeholder: 'Place the amount you can provide per request (the quota you are offering)' %>
    </div>
  </div>

  <div class="field">
    <div class="ui icon label">
      <%= f.label :expiry, class: 'ui right pointing label' %>
      <i class="calendar icon"></i>
    </div>
    <div class="ui left icon date input">
      <%= f.datetime_select :expiry %>
    </div>
  </div>



  <div class="actions">
    <div class="ui bottom attached blue button" type="submit" id="offer_submit_button">
      <i class="edit icon"></i> Make some money
    </div>
  </div>

<% end %>
