<div class="ui pointing menu">
  <a class="active item" id="logo">
    <%= semantic_icon('purple home') %>
    Faridd
  </a>
  <a class="item">
    <%= semantic_icon('purple mail') %>
    Messages
  </a>
  <a class="item">
    <%= semantic_icon('purple user') %>
    Friends
  </a>
  <%= link_to  generics_path, class: 'item' do %>
      <%= semantic_icon('purple edit') %>
      Articles
  <% end %>

  <% if @menu %>
      <%- @menu.each do |name, data| %>
          <%= link_to data[0], class: 'item', remote: true do %>
              <%= semantic_icon("purple #{data[1]}") %>
              <%= name.capitalize %>
          <% end %>
      <% end %>
<% end %>
     <div class="item" id="search_item">
       <div class="ui fluid category purple search" id="search_box">
         <div class="ui icon input">
           <input class="prompt" type="text" placeholder="Search everything..." id="search_input">
           <i class="search icon"></i>
         </div>
         <div class="results"></div>
       </div>
     </div>
  <%= render 'layouts/settings_menu' %>
</div>
<div class="ui blue container" id="main">
  <%= yield %>
</div>