<div class="ui top attached pointing menu" id="main_menu">
  <%= link_to root_path, class: 'active item', id: 'logo' do %>
      <%= semantic_icon('purple home') %>
      Faridd
  <% end %>


  <%= render 'layouts/menu_items' %>
</div>
<br>
<div class="ui blue <%= controller_name %> <%= action_name %> container" id="main">
  <div class="ui relaxed centered grid">
    <div class="fluid centered bottom pointing item" id="search_item" data-anijs="if: dblclick, on: #search_item, do: tada animated">
      <div class="ui fluid category purple search" id="search_box">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search everything..." id="search_input">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>
  <br>
  <%= yield %>
</div>