<div class="ui pointing menu">
  <a class="active item" id="logo">
    <%= semantic_icon('purple home') %>
    Faridd
  </a>
  <a class="item">
    <%= semantic_icon('purple mail') %>
    Messages
  </a>
  <a class="item">
    <%= semantic_icon('purple user') %>
    Friends
  </a>
  <%= link_to  generics_path, class: 'item' do %>
      <%= semantic_icon('purple edit') %>
      Articles
  <% end %>

  <% if @menu %>
      <%- @menu.each do |name, data| %>
          <%= link_to data[0], class: 'item' do %>
              <%= semantic_icon("purple #{data[1]}") %>
              <%= name.capitalize %>
          <% end %>
      <% end %>
<% end %>
  <div class="right menu">
    <div class="item">
     <div class="ui fluid category search">
       <div class="ui transparent icon input">
         <input type="text"  placeholder="Search Everything!" id="searchBox" name="search_box">
         <i class="search link icon"></i>
       </div>
       <div class="results">

       </div>
     </div>
    </div>
   <%- if signed_in? %>
        <div class="ui dropdown item">
          <%= semantic_icon('purple settings') %>
          <%- if signed_in? %>
              <div class="menu">
                <%= link_to user_path(current_user), class: 'item' do %>
                    <%= semantic_icon(:user) %>
                    Go to profile
                <% end %>
                <%= link_to edit_user_path(current_user), class: 'item' do %>
                    <%= semantic_icon(:edit) %>
                    Update your info
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'item' do %>
                    <%= semantic_icon(:sign, :out) %>
                    Sign out
                <% end %>
              </div>
          <% end %>
        </div>
   <% else %>
        <div class="ui dropdown item">
          <%= semantic_icon('purple settings') %>
          <%- if signed_in? %>
              <%= link_to current_user.username, user_path(current_user) %>
          <% end %>
          <div class="menu">
            <%= link_to new_user_registration_path, class: 'item' do %>
                <%= semantic_icon(:edit) %>
                Sign up
            <% end %>
            <%= link_to new_user_session_path, class: 'item' do %>
                <%= semantic_icon(:sign, :in) %>
                Log in
            <% end %>
          </div>
        </div>
   <% end %>
  </div>
</div>
<div class="ui blue segment">
  <%= yield %>
</div>