<div class="ui top attached pointing menu" id="main_menu">
  <%= link_to root_path, class: 'active item', id: 'logo' do %>
      <%= semantic_icon('purple home') %>
      Faridd
  <% end %>

  <%= render 'layouts/menu_items' %>
</div>
<br>
<%= render 'layouts/search_box' %>
<br>

<div class="ui blue <%= controller_name %> <%= action_name %> <%= 'container' unless controller_name =~ /comp|count/ %>" id="main">
  <%= yield %>
</div>