<a class="item">
  <%= semantic_icon('purple mail') %>
  Messages
</a>

<%= link_to users_path, class: 'item' do %>
    <%= semantic_icon(:purple, :user) %>
    <span>Friends</span>
<% end %>

<div class='ui pointing dropdown link icon item'>
  <%= semantic_icon('purple edit') %>
  &nbsp;
  <span class="text">Articles</span>
  <%= semantic_icon(:dropdown) %>
  <div class="menu">
    <%= link_to new_article_path, class: 'item' do %>
        <%= semantic_icon(:purple, :edit) %>
        <span>Write</span>
    <% end %>
    <div class="ui separator"></div>
    <%= link_to articles_path, class: 'item' do %>
        <%= semantic_icon(:purple, :tv) %>
        <span>All</span>
    <% end %>
    <%= link_to recent_articles_path, class: 'item' do %>
        <%= semantic_icon(:purple, :paw) %>
        <span>Recent articles</span>
    <% end %>
    <%= link_to trending_articles_path, class: 'item' do %>
        <%= semantic_icon(:purple, :line, :chart) %>
        <span>Top trending</span>
    <% end %>
  </div>
</div>

<div class='ui pointing dropdown link icon item'>
  <%= semantic_icon('purple tags') %>
  &nbsp;
  <span class="text">Categories</span>
  <%= semantic_icon(:dropdown) %>
  <div class="ui vertical menu">

    <div class="ui dropdown item">
      Most popular categories
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">CLICK ANY CATEGORY TO VIEW IT</div>
        <%- Category.most_popular.each do |cat| %>
            <%- cache cat do %>
                <%= link_to category_path(cat), class: 'item' do %>
                    <%= semantic_icon("#{cat.color.present? ? cat.color : 'purple'}", :tag) %>
                    <span><strong><%= "#{cat.name.upcase} (#{cat.drugs.count})" %></strong></span>
                <% end %>
             <% end %>
        <% end %>
      </div>
    </div>

    <div class="ui dropdown item">
      Least popular categories
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">CLICK ANY CATEGORY TO VIEW IT</div>
        <%- Category.least_popular.each do |cat| %>
            <%- cache cat do %>
                <%= link_to category_path(cat), class: 'item' do %>
                    <%= semantic_icon("#{cat.color.present? ? cat.color : 'purple'}", :tag) %>
                    <span><strong><%= "#{cat.name.upcase} (#{cat.drugs.count})" %></strong></span>
                <% end %>
                <% end %>
        <% end %>
      </div>
    </div>

    <div class="ui separator"></div>

    <div class="ui dropdown item">
      Pricey categories
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">CLICK ANY CATEGORY TO VIEW IT</div>
        <%- session[:pricey_cats].each do |c| %>
            <%- cat = Category.find(c[0]) %>
            <%- cache cat do %>
                <%= link_to category_path(cat), class: 'item' do %>
                    <%= semantic_icon("#{cat.color.present? ? cat.color : 'purple'}", :tag) %>
                    <span><strong><%= "#{cat.name.upcase} (#{number_to_currency(c[1])})" %></strong></span>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="ui dropdown item">
      Cheap categories
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">CLICK ANY CATEGORY TO VIEW IT</div>
        <%- session[:cheap_cats].each do |c| %>
            <%- cat = Category.find(c[0]) %>
            <%- cache cat do %>
                <%= link_to category_path(cat), class: 'item' do %>
                    <%= semantic_icon("#{cat.color.present? ? cat.color : 'purple'}", :tag) %>
                    <span><strong><%= "#{cat.name.upcase} (#{number_to_currency(c[1])})" %></strong></span>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="ui separator"></div>

    <%= link_to categories_path, class: 'item' do %>
        <%= semantic_icon(:purple, :tags) %>
        <span>View All</span>
    <% end %>
  </div>
</div>

<div class='ui pointing dropdown link icon item'>
  <%= semantic_icon('purple lab') %>
  &nbsp;
  <span class="text">Generics</span>
  <%= semantic_icon(:dropdown) %>
  <div class="menu">
    <%= link_to new_generic_path, class: 'item' do %>
        <%= semantic_icon(:purple, :edit) %>
        <span>New</span>
    <% end %>
    <div class="ui separator"></div>
    <%= link_to generics_path, class: 'item' do %>
        <%= semantic_icon(:purple, :tv) %>
        <span>All</span>
    <% end %>
    <%= link_to recent_generics_path, class: 'item' do %>
        <%= semantic_icon(:purple, :paw) %>
        <span>Recently added</span>
    <% end %>
    <%= link_to trending_generics_path, class: 'item' do %>
        <%= semantic_icon(:purple, :line, :chart) %>
        <span>Top trending</span>
    <% end %>
  </div>
</div>
<div class='ui pointing dropdown link icon item'>
  <%= semantic_icon('purple registered') %>
  &nbsp;
  <span class="text">Drugs</span>
  <%= semantic_icon(:dropdown) %>
  <div class="menu">
    <%= link_to new_drug_path, class: 'item' do %>
        <%= semantic_icon(:purple, :edit) %>
        <span>New</span>
    <% end %>
    <div class="ui separator"></div>
    <%= link_to drugs_path, class: 'item' do %>
        <%= semantic_icon(:purple, :tv) %>
        <span>All</span>
    <% end %>
    <div class="ui separator"></div>
    <%= link_to recent_drugs_path, class: 'item' do %>
        <%= semantic_icon(:purple, :paw) %>
        <span>Recently added</span>
    <% end %>
    <div class="horizontal divider"></div>
    <%= link_to cheap_drugs_path, class: 'item' do %>
        <%= semantic_icon(:purple, :dollar) %>
        <span>Show cheap drugs</span>
    <% end %>
    <%= link_to pricey_drugs_path, class: 'item' do %>
        <%= semantic_icon(:purple, :dollar) %>
        <span>Show pricey drugs</span>
    <% end %>
    <div class="horizontal divider"></div>
    <%= link_to trending_drugs_path, class: 'item' do %>
        <%= semantic_icon(:purple, :line, :chart) %>
        <span>Top trending</span>
    <% end %>
  </div>
</div>
<div class='ui pointing dropdown link icon item'>
  <%= semantic_icon('purple idea') %>
  &nbsp;
  <span class="text">Formulations</span>
  <%= semantic_icon(:dropdown) %>
  <div class="menu">
    <%= link_to '/formulations/new', class: 'item' do %>
        <%= semantic_icon(:purple, :edit) %>
        <span>New</span>
    <% end %>
    <div class="horizontal divider"></div>
    <%= link_to '/formulations', class: 'item' do %>
        <%= semantic_icon(:purple, :tv) %>
        <span>All</span>
    <% end %>
    <%= link_to '/formulations/recent', class: 'item' do %>
        <%= semantic_icon(:purple, :paw) %>
        <span>Recently added</span>
    <% end %>
    <%= link_to '/formulations/trending', class: 'item' do %>
        <%= semantic_icon(:purple, :line, :chart) %>
        <span>Top trending</span>
    <% end %>
  </div>
</div>
<div class='ui pointing dropdown link icon item'>
  <%= semantic_icon('purple heartbeat') %>
  &nbsp;
  <span class="text">Rxs</span>
  <%= semantic_icon(:dropdown) %>
  <div class="menu">
    <%= link_to '/rxes/dispense', class: 'item' do %>
        <%= semantic_icon(:purple, :edit) %>
        <span>Dispense Rx</span>
    <% end %>
    <div class="horizontal divider"></div>
    <%= link_to rxes_path, class: 'item' do %>
        <%= semantic_icon(:purple, :tv) %>
        <span>All</span>
    <% end %>
    <%= link_to '/rxes/recent', class: 'item' do %>
        <%= semantic_icon(:purple, :paw) %>
        <span>Recently added</span>
    <% end %>
    <%= link_to '/rxes/trending', class: 'item' do %>
        <%= semantic_icon(:purple, :line, :chart) %>
        <span>Top trending</span>
    <% end %>
  </div>
</div>
<div class='ui pointing dropdown link icon item'>
  <%= semantic_icon('purple book') %>
  &nbsp;
  <span class="text">Q&A</span>
  <%= semantic_icon(:dropdown) %>
  <div class="menu">
    <%= link_to new_question_path, class: 'item' do %>
        <%= semantic_icon(:purple, :edit) %>
        <span>Ask a new question</span>
    <% end %>
    <div class="horizontal divider"></div>
    <%= link_to questions_path, class: 'item' do %>
        <%= semantic_icon(:purple, :tv) %>
        <span>All</span>
    <% end %>
    <%= link_to '/questions/recent', class: 'item' do %>
        <%= semantic_icon(:purple, :paw) %>
        <span>Recent questions</span>
    <% end %>
    <%= link_to '/questions/trending', class: 'item' do %>
        <%= semantic_icon(:purple, :line, :chart) %>
        <span>Top trending</span>
    <% end %>
  </div>
</div>
<div class='ui pointing dropdown link icon item'>
  <%= semantic_icon('purple percent') %>
  &nbsp;
  <span class="text">Trade Center</span>
  <%= semantic_icon(:dropdown) %>
  <div class="menu">
    <%= link_to '/trade_center', class: 'item' do %>
        <%= semantic_icon(:purple, :edit) %>
        <span>Create an offer</span>
    <% end %>
    <div class="horizontal divider"></div>
    <%= link_to '/offers', class: 'item' do %>
        <%= semantic_icon(:purple, :tv) %>
        <span>All Offers</span>
    <% end %>
    <%= link_to '/offers/recent', class: 'item' do %>
        <%= semantic_icon(:purple, :paw) %>
        <span>Recent offers</span>
    <% end %>
    <%= link_to '/offers/trending', class: 'item' do %>
        <%= semantic_icon(:purple, :line, :chart) %>
        <span>Best value</span>
    <% end %>
  </div>
</div>

<%= render 'layouts/settings_item_menu' %>
