<!DOCTYPE html>
<html>
  <head>
    <title>Faridd.com The smartest drug app</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/menu' %>
    <!--Moved yield to the layouts/menu -->
  </body>

<% unless devise_controller? %>
    <footer class="centered">
      <p>In the memory of Mohamed Farid Awd</p>
    </footer>
<% end %>
</html>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css">
<%= javascript_include_tag('ani') %>

<%= debug(params) %>
